.ticket-app{
    box-shadow: 0 0 3px 2px #dedede;
    width: 500px;
    height: 400px;
    padding: 15px;
    position: relative;
}
.ticket-app__header{
    display: flex;
}

.ticket-item-wrapper{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.ticket-app__header .box-bg{
    width: 26px;
    height: 22px;
    border-radius: 2px;
    margin-right: 5px;
    border: 1px solid grey;
}
.ticket-app__header .box-bg.red{
    background-color: red;
}
.ticket-app__header .box-bg.available{
    background-color: white;
}
.ticket-app__header .box-bg.booked{
    background-color: grey;
}
.ticket-app__header .box-bg.selected{
    background-color: rgb(0, 255, 0);;
}
.ticket-app__body{
    margin-top:25px;
    display: flex;
}
.ticket-app__body .ticket-app__left{
    width:180px;
    margin-right: 20px;
}
.ticket-app__body .ticket-app__right{
    width:57%;
}
.ticket-app__body .door-driver{
    border: 1px solid grey;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}
.ticket-app__body .door-driver .door,
.ticket-app__body .door-driver .driver{
    border: 1px solid grey;
    padding: 5px;
    width: 42%;
    text-align: center;
}

.seat-plan{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 20px;
}
.seat-plan li{
    border: 1px solid grey;
    padding:4px 5px;
    margin-right: 10px;
    margin-bottom: 10px;

}
.seat-plan li:nth-child(4n-2){
    margin-right: 35px;
}
.seat-plan li:nth-child(4n){
    margin-right: 0;
}
.ticket-app__right .header h6{
    font-weight: 700;
}
.coupon-wrapper p {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 4px;
}
.coupon-wrapper input {
    width:154px;
    height:30px
}
.table td, .table th {
    padding: 0.25rem;
}

.dialog-popUp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 33px;
}

.abc{
    width: 200px;height:200px;border:1px solid red
}